<?xml version="1.0" encoding="utf-8"?>
<!-- Informationen zur Konfiguration Ihrer ASP.NET-Anwendung finden Sie unter https://go.microsoft.com/fwlink/?LinkId=169433 -->
<configuration>
    <!-- For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367. -->
    <system.web>
        <compilation debug="true" targetFramework="4.7.2" />
        <httpRuntime targetFramework="4.7.2" requestValidationMode="2.0" maxRequestLength="16777216" executionTimeout="3600" />
        <customErrors mode="Off" />    
    </system.web>
    <appSettings>		
		<!-- Windows or Unix OS-->
		<add key="OS" value="Windows" />
		<!--
		    <add key="OS" value="Linux" />
		-->
        <!-- windows -->
        <add key="BaseAppPathWin" value="/" />
        <add key="AppDirPathWin" value="C:\Users\heinr\source\area23.at\www\mono\" />
        <!--
            <add key="ExternalClientIP" value="213.142.96.75" />
        -->
		<add key="ServerIPv4" value="18.210.16.105" />
		<add key="ServerIPv6" value="2600:1f18:7a3f:a700::6291" />

		<!--
		    <add key="AppUrl" value="https://area23.at/net/" />
		    <add key="AppDir" value="net" />
		    <add key="AppDirPathUnix" value="/var/www/net" />
		    <add key="BaseAppPathUnix" value="/net/" />
        -->
				
		<add key="AppUrl" value="https://area23.at/mono/app.publish/" />
		<add key="AppDir" value="mono/app.publish" />
		<add key="AppDirPathUnix" value="/var/www/mono/app.publish/" />
		<add key="BaseAppPathUnix" value="/mono/app.publish/" />
		
		<!--
            <add key="ServerIPv4" value="18.101.101.108" />
            <add key="ServerIPv6" value="2a05:d011:cdf:3a00:75d:d95d:136e:9e41" />
            <add key="AppUrl" value="https://cqrxs.eu/net/"/>
			
			<add key="AppDir" value="mono/arm.publish"/>
		    <add key="AppDirPathUnix" value="/var/www/mono/arm.publish/"/>
		    <add key="BaseAppPathUnix" value="/mono/arm.publish/"/>			
        -->


        <!-- Persist Message -->
        <add key="PersistMsgIn" value="SessionState" />
        <!--
            <add key="PersistMsgIn" value="AppDomain"/>
            <add key="PersistMsgIn" value="ApplicationState"/>
            <add key="PersistMsgIn" value="JsonFile"/>
			<add key="PersistMsgIn" value="SessionState"/>
        -->

	    <!-- PDFMergeCmd -->
	    <!--
	        <add key="PDFMergeCmd" value="/usr/bin/pdfunite" />
	    -->
		<add key="PDFMergeCmd" value="dir" />
		<add key="PDFMergeFileSizeLimitMB" value="16" />
		
	    <add key="RedirectError" value="true" />
		
    </appSettings>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
            </requestFiltering>
        </security>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	         <dependentAssembly>
                <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
            </dependentAssembly>  
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="QRCoder" culture="neutral" publicKeyToken="c4ed5b9ae8358a28" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <!-- 
        <system.codedom>
            <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            </compilers>
        </system.codedom>
    -->
</configuration>
