/*
    2025-03-15 matrixcalcweb.css by heinrich elsigan 
*/
body {
}
    div {
        line-height: normal;
        vertical-align: middle;
        /*
            text-align: center;
            align-content: center;
            align-self: center;
            background-color: black;
        */
    }

        div.matrixDiv {
            width: 100%;
            min-width: 620pt;
            max-width: 1280pt;
            height: 75%;
            min-height: 520pt;
            max-height: 768pt;
            align-self: start;
            vertical-align: top;
            align-content: center;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            border-style: outset;
            border-color: #efefef;
            border-spacing: 1pt;
            border-width: 1pt;
            table-layout: fixed;
            inset-block-start: initial;
            inset-block-start: auto;
            background-color: transparent;
            /* 
            align-self: center;
            align-content: center;
            text-align: center;
            line-height: normal;        
            font-size: medium;
            */
        }

    div.rpnDivHeader {
        width: 100%;
        min-width: 320pt;
        height: 36pt;
        min-height: 36pt;
        align-content: center;
        line-height: normal;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        border-spacing: 0px;
        background-repeat: no-repeat;
    }

    div.rpnDivFooter {
        width: 100%;
        text-align: center;
        background-color: black;
        align-content: center;
        font-size: medium;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        table-layout: fixed;
        inset-block-start: initial;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    }

    div.matrixDiv.table,
    table#MatrixMatrixTable {
        width: 100%;
        min-width: 960pt;
        height: 75%;
        min-height: 520pt;
        max-height: 768pt;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border-style: none;
        background-color: transparent;
        border-spacing: 0px;
        background-repeat: no-repeat;
    }

        table.matrixTbl_m0,
        table#Matrix_m0_Table,
        table.matrixTbl#Matrix_m0_Table,
        table.matrixTbl_m0#Matrix_m0_Table {
            width: 30%;
            min-width: 220pt;
            max-width: 420pt;
            height: 60%;
            min-height: 480pt;
            max-height: 580pt;
            align-self: start;
            vertical-align: top;
            /* align-content: center; */
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            background-color: lightskyblue;
            font-synthesis: style;
            font-variant-numeric: proportional-nums;
            border-style: dotted;
            border-width: 1px;
            border-color: navy;
            border-spacing: 0px;
            background-repeat: no-repeat;
        }

        table.matrixTbl_m1,
        table#Matrix_m1_Table,
        table.matrixTbl#Matrix_m1_Table,
        table.matrixTbl_m1#Matrix_m1_Table {
            width: 30%;
            min-width: 220pt;
            max-width: 420pt;
            height: 60%;
            min-height: 480pt;
            max-height: 580pt;
            vertical-align: top;
            /* align-content: center; */
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            background-color: lightpink;
            font-synthesis: style;
            font-variant-numeric: proportional-nums;
            border-style: dashed;
            border-width: 1px;
            border-color: darkseagreen;
            border-spacing: 0px;
            background-repeat: no-repeat;
        }

        table.matrixTbl_m2,
        table#Matrix_m2_Table,
        table.matrixTbl#Matrix_m2_Table {
            width: 30%;
            min-width: 220pt;
            max-width: 420pt;
            height: 60%;
            min-height: 480pt;
            max-height: 580pt;
            vertical-align: top;
            /* align-content: center; */
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            background-color: lightgoldenrodyellow;
            border-style: solid;
            border-width: 1px;
            border-color: indigo;
            border-spacing: 0px;
            background-repeat: no-repeat;
        }

        table.matrixTbl_m.tr.matrixTr_m0,
        table.matrixTbl_m0#Matrix_m0_Table.tr.matrixTr_m0
        table.matrixTbl_m0.tr.matrixTr_m0.tr_m0_f,
        tr.matrixTr_m0,
        tr.tr_m0_f,
        tr#tr_m0_f,
        tr.matrixTr_m0#tr_m0_f, tr.matrixTr_m0#tr_m0_e, tr.matrixTr_m0#tr_m0_d, tr.matrixTr_m0#tr_m0_c,
        tr.matrixTr_m0#tr_m0_b, tr.matrixTr_m0#tr_m0_a, tr.matrixTr_m0#tr_m0_9, tr.matrixTr_m0#tr_m0_8,
        tr.matrixTr_m0#tr_m0_7, tr.matrixTr_m0#tr_m0_6, tr.matrixTr_m0#tr_m0_5, tr.matrixTr_m0#tr_m0_4,
        tr.matrixTr_m0#tr_m0_3, tr.matrixTr_m0#tr_m0_2, tr.matrixTr_m0#tr_m0_1, tr.matrixTr_m0#tr_m0_0
        {
            width: 30%;
            min-width: 220pt;
            max-width: 420pt;
            height: 20pt;
            min-height: 12pt;
            max-height: 24pt;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            background-color: lightskyblue;
            vertical-align: central;
            align-content: center;
            font-synthesis: style;
            font-variant-numeric: proportional-nums;
            border-style: dotted;
            border-width: 1px;
            border-color: navy;
            border-spacing: 0px;
            background-repeat: no-repeat;
            /*  background-size: 100% 100%; */
        }

        table.matrixTbl_m1#Matrix_m1_Table.tr.matrixTr_m1,
        table.matrixTbl_m1.tr.matrixTr_m1.tr_m1_f,
        table.matrixTbl_m1.tr.matrixTr_m1.tr_m1_f#tr_m1_f
        tr.matrixTr_m1,
        tr#tr_m1_f,
        tr.matrixTr_m1#tr_m1_f,
        tr.matrixTr_m1#tr_m1_e,
        tr.matrixTr_m1#tr_m1_d,
        tr.matrixTr_m1#tr_m1_c,
        tr.matrixTr_m1#tr_m1_b,
        tr.matrixTr_m1#tr_m1_a,
        tr.matrixTr_m1#tr_m1_9,
        tr.matrixTr_m1#tr_m1_8,
        tr.matrixTr_m1#tr_m1_7,
        tr.matrixTr_m1#tr_m1_6,
        tr.matrixTr_m1#tr_m1_5,
        tr.matrixTr_m1#tr_m1_4,
        tr.matrixTr_m1#tr_m1_3,
        tr.matrixTr_m1#tr_m1_2,
        tr.matrixTr_m1#tr_m1_1,
        tr.matrixTr_m1#tr_m1_0 {
            width: 30%;
            min-width: 220pt;
            max-width: 420pt;
            height: 20pt;
            min-height: 12pt;
            max-height: 24pt;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            background-color: lightpink;
            vertical-align: central;
            align-content: center;
            font-synthesis: style;
            font-variant-numeric: proportional-nums;
            border-style: dashed;
            border-width: 1px;
            border-color: darkseagreen;
            border-spacing: 0px;
            background-repeat: no-repeat;
            /*  background-size: 100% 100%; */
        }

        table.matrixTbl_m2#Matrix_m2_Table.tr.matrixTr_m2,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_f,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_e,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_d,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_c,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_b,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_a,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_9,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_8,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_7,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_6,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_5,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_4,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_3,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_2,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_1,
        table.matrixTbl_m2.tr.matrixTr_m2.tr_m2_0,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_f,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_e,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_d,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_c,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_b,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_a,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_9,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_8,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_7,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_6,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_5,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_4,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_3,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_2,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_1,
        table.matrixTbl_m2.tr.matrixTr_m2#tr_m2_0,
        tr.matrixTr_m2,
        tr.tr_m2_f,
        tr.matrixTr_m2#tr_m2_f, tr.matrixTr_m2#tr_m2_e, tr.matrixTr_m2#tr_m2_d, tr.matrixTr_m2#tr_m2_c,
        tr.matrixTr_m2#tr_m2_b, tr.matrixTr_m2#tr_m2_a, tr.matrixTr_m2#tr_m2_9, tr.matrixTr_m2#tr_m2_8,
        tr.matrixTr_m2#tr_m2_7, tr.matrixTr_m2#tr_m2_6, tr.matrixTr_m2#tr_m2_5, tr.matrixTr_m2#tr_m2_4,
        tr.matrixTr_m2#tr_m2_3, tr.matrixTr_m2#tr_m2_2, tr.matrixTr_m2#tr_m2_1, tr.matrixTr_m2#tr_m2_0, {
            width: 30%;
            min-width: 220pt;
            max-width: 420pt;
            height: 20pt;
            min-height: 12pt;
            max-height: 24pt;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            vertical-align: central;
            align-content: center;
            background-color: lightgoldenrodyellow;
            border-style: solid;
            border-width: 1px;
            border-color: indigo;
            border-spacing: 0px;
            background-repeat: no-repeat;
            border-spacing: 0px;
            background-repeat: no-repeat;
            /*  background-size: 100% 100%; */
        }


            td.matrixTd_m0 {
                width: 1%;
                min-width: 12pt;
                max-width: 32pt;
                height: 20pt;
                min-height: 12pt;
                max-height: 24pt;
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                vertical-align: central;
                align-content: center;
                background-color: lightskyblue;
                font-synthesis: style;
                font-variant-numeric: proportional-nums;
                border-style: dotted;
                border-width: 1px;
                border-color: navy;
                border-spacing: 0px;
                background-repeat: no-repeat;
                /*  background-size: 100% 100%; */
            }

            td.matrixTd_m1 {
                width: 1%;
                min-width: 12pt;
                max-width: 32pt;
                height: 20pt;
                min-height: 12pt;
                max-height: 24pt;
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                vertical-align: central;
                align-content: center;
                background-color: lightpink;
                font-synthesis: style;
                font-variant-numeric: proportional-nums;
                border-style: dashed;
                border-width: 1px;
                border-color: darkseagreen;
                border-spacing: 0px;
                background-repeat: no-repeat;
                /*  background-size: 100% 100%; */
            }

            td.matrixTd_m2 {
                width: 1%;
                min-width: 12pt;
                max-width: 32pt;
                height: 20pt;
                min-height: 12pt;
                max-height: 24pt;
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                vertical-align: central;
                align-content: center;
                background-color: lightgoldenrodyellow;
                border-style: solid;
                border-width: 1px;
                border-color: indigo;
                border-spacing: 0px;
                background-repeat: no-repeat;
                /*  background-size: 100% 100%; */
            }

            td.matrixTbl_m0.TextBox,
            td.matrixTbl_m0.input
            td.matrixTbl_m2.TextBox,
            td.matrixTbl_m2.input
            td.matrixTbl_m1.TextBox,
            td.matrixTbl_m1.input
            td.matrixTbl_m2.TextBox,
            td.matrixTbl_m2.input {
                font-synthesis: style;
                font-variant-numeric: proportional-nums;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
                font-size: small;
                font-weight: 300;
                font-display: block;
                font-style: oblique;
            }

