/*
    od.css ©           
    2023-12-20 by Heinrich Elsigan
    https://area23.at/net/
    https://cqrxs.eu/net/
    2025-02-26 last change 
*/
/*
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-style: none;
    border-spacing: 0;
    border-width: 0;
*/

.TextBox {
    height: 24pt;
    text-align: left;
    font-size: small;
}

.CryptTextArea,
div.CryptTextArea,
div.CryptTextArea#DivCryptTextArea,
div#DivCryptTextArea {
    background-color: transparent;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-size: smaller;
    text-align: left;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

CryptTextArea#TextBoxSource,
TextBox#TextBoxSource,
TextBox#TextBoxSource.CryptTextArea,
textarea#TextBoxSource,
textarea#TextBoxSource.CryptTextArea,
textarea.CryptTextArea,
textarea.CryptTextArea#TextBoxSource {
    width: 512px;
    text-align: left;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: smaller;
    color: #06050e;
    border-style: ridge;
    border-width: 1px;
    border-color: #2a122c;
    background-color: transparent;
    tab-size: 2;
}

        TextBox#TextBoxDestination.CryptTextArea,
        textarea.CryptTextArea#TextBoxDestination,
        textarea#TextBoxDestination,
        textarea#TextBoxDestination.CryptTextArea,
        CryptTextArea#TextBoxDestination {
            width: 512px;
            text-align: left;
            font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
            font-size: x-small;
            color: #06050e;
            background-color: transparent;
            border-style: groove;
            border-width: 1px;
            border-color: #230a23;
            tab-size: 2;
        }

input#oFile {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    background-color: #dbacee;
    color: #08020a;
    text-align: center;
    border-style: ridge;
    border-width: 2px;
}

ButtonEncryptFile,
input#ButtonEncryptFile,
input#ButtonDecryptFile,
input#Button_Key,
input#Button_Hash,
input#Button_Clear,
input#Button_Reset_KeyIV {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    background-color: #f7f3f7;
    color: #06050e;
    text-align: center;
}

input#ButtonEncrypt,
input#ButtonDecrypt,
input.CryptTextArea,
input#ButtonDecrypt.CryptTextArea,
input#ButtonEncrypt.CryptTextArea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: #06050e;
    background-color: #f7f3f7;
    border-style: groove;
    border-width: 2px;
    border-color: #230a23;
    width: 144px;
    height: 30px;
    text-align: center;
}



.DropDownList {
    height: 24pt;
    font-size: medium;
}

.ButtonTextBox {
    height: 24pt;
    font-size: medium;
}

#Button_OctalDump {
    height: 24pt;
    vertical-align: middle;
    font-size: medium;
}

#TextBox_OdCmd {
    width: 32%;
    height: 24pt;
    text-align: left;
    vertical-align: middle;
}

#RBL_Radix {
    vertical-align: middle;
    font-size: medium;
}

#preOut {
    width: 100%;
    height: 60%;
    min-height: 120pt;
    font-size: small;
    font-family: 'Lucida Console', 'Courier New', 'Courier', 'monospace';
    scroll-behavior: auto;
}

div {
    line-height: normal;
    vertical-align: middle;
}

    div.odDiv {
        nowrap;
        height: 30pt;
        width: 100%;
        line-height: normal;
        vertical-align: middle;
        font-size: medium;
        table-layout: fixed;
        inset-block-start: initial;
    }

    div.footerDiv {
        width: 100%;
        text-align: left;
        background-color: #bfafcf;
        vertical-align: middle;
        font-size: medium;
        border-style: none;
        table-layout: fixed;
        inset-block-start: initial;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    }

span {
    height: 24pt;
    vertical-align: middle;
    font-size: medium;
}

    span.textSpan {
        height: 24pt;
        text-align: left;
        vertical-align: middle;
        font-size: medium;
    }
    /* span.smallSpan { font-size: small; } */
    span.leftSpan {
        height: 24pt;
        width: 25%;
        text-align: left;
        vertical-align: middle;
        font-size: medium;
    }

    span.centerSpan {
        height: 24pt;
        width: 25%;
        text-align: center;
        vertical-align: middle;
        font-size: medium;
    }

    span.rightSpan {
        height: 24pt;
        width: 25%;
        text-align: right;
        vertical-align: middle;
        font-size: small;
    }
