<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppDirPathUnix" value=""	/>
		<!-- Keep it empty -->
		<add key="AppDirPathWin" value="C:\Users\heinr\source\area23.at\WinForm\SecureChat"	/>
		<add key="ServerUrlToPost" value="https://area23.at/net/CqrJD/Default.aspx"/>
	</appSettings>
</configuration>